---
layout: default
call_to_action: "Get started today!"
services:
  - name: Spaces
    description: "From decluttering a family room to re-organizing a garage, every project is made easier with an extra set of hands."
    icon: home
  - name: Projects
    description: Planning to reorganize or repurpose? Maybe you even bought the supplies but they’ve added to the mess. I can help you get it off the ground.
    icon: check-square-o
  - name: Life
    description: "Get help with projects that take only a day, or schedule weekly meetings over time. No problem is too large to solve."
    icon: calendar
---

<section class='highlight'>
  <p class='editable'>Let me help you with your home organization projects to relieve stress and restore order to your life. It&rsquo;s easier than you&rsquo;d think!</p>
</section>


<section id='services'>
  <h1>
    My Services
  </h1>

  <div class="flex-boxes">
    {% for service in page.services %}
      <a href="javascript:void(0)" class="flex-box">
        <i class="fa fa-{{ service.icon }}"></i>
        <h1 class="flex-title">{{ service.name }}</h1>
        <p>{{ service.description }}</p>
      </a>
    {% endfor %}
  </div>

  <div id='sign-up'>
    <button>{{ page.call_to_action }}</button>
  </div>
</section>

<section class='highlight'>
  <p class='editable'>Free one hour consultation for new customers.</p>
</section>

<section id='about'>
  <h1>About Me</h1>

  <div class='about'>
    <div class='side'>
      <p>
        I have been passionate about helping others for as long as I can remember.
        For the last 4 years I have worked as a nanny and house manager and
        I've now narrowed my focus to home organizing. I love to help with
        projects like de-cluttering a space, re-organizing a garage or over stuffed closet,
        or simply deciding what needs donated or replaced to make things run smoothly.
        As a certified home organizer by the Preferred Organizers Association,
        and I am open to single day projects or recurring meetings for larger
        projects. I am excited to bring order to the chaos and simplify your everyday life.
      </p>
    </div>

    <div class='side'>
      <img src='/images/kristin.jpg' alt='' class='editable' />
    </div>
  </div>
</section>


<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />

  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class='modal-header'>
        <h1 class='editable'>Get Help Today!</h1>
        <div class="modal-close" for="modal-1"></div>
      </div>

      <div class='modal-body'>
        <form accept-charset="UTF-8" action="https://formkeep.com/f/{{ site.data.forms[site.environment].form_id }}" method="POST">
          <input name="utf8" type="hidden" value="✓" />

          <label for="name">Name*</label>
          <input id="name" placeholder="Name" name="name" required=true />

          <label for="email">Email*</label>
          <input id="email" placeholder="Email" name="email" type="email" required=true />

          <label for="neighborhood">Neighborhood</label>
          <select id="neighborhood" placeholder="Neighborhood" name="neighborhood">
            <option></option>
            {% for neighborhood in site.data.neighborhoods %}
              <option>{{ neighborhood }}</option>
            {% endfor %}
          </select>

          <label for="comments">Comments</label>
          <textarea id="comments" placeholder="Long term or short term?  What kind of project?  Who would I be working with? Tell me what matters to you!" name="comments" rows=5></textarea>

          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>
