#f
  .container
    .row
      .col-lg-4
        %h3 About Kristin
        %p Let me help you relieve stress and restore order to your life and space.  It’s easier than you’d think!

      .col-lg-4
      .col-lg-4

    .row
      .col-lg-4.contact
        %h3 Contact
        .row
          .col-md-3
            Phone
          .col-md-9
            (415) 857-1819
        .row
          .col-md-3
            Care.com
          .col-md-9
            %a{ href: "https://www.care.com/p/kristinf265/cc" }
              kristinf265

