#f
  .container
    .row
      .col-lg-4
        %h3 About Kristin
        %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
      .col-lg-4
        / %h3 Contact
        / %p
        /   Some Ave. 987
        /   %br/
        /   Liverpool,
        /   %br/
        /   United Kingdom.
        /   %br/
        /   +44 5784-4343
      .col-lg-4
        %h3 Newsletter
        %p Each month we collect the best stuff around the design world and share it with you.
        %button.btn.btn-theme{:type => "button"} SUBSCRIBE
