---
title: Welcome to Middleman
---

#thank-you.alert.alert-success.hidden{:role => "alert"}
  %strong Thank You!
  Kristin will be in touch soon.

#headerwrap
  .container
    .col-lg-7
      %h1
        Say hello to
        %br/
        %b Stress Free
        %br/
        living in
        %br/
        San Francisco...


#y
  .container
    .row.centered
      .col-lg-4
        %span.glyphicon.glyphicon-home
        %h3 Spaces
        %p= data.content.spaces
        %p
          .btn.btn-theme{"data-toggle" => "modal", :href => "#form-modal"}
            GET HELP

      .col-lg-4
        %span.glyphicon.glyphicon-check
        %h3 Projects
        %p= data.content.projects
        %p
          .btn.btn-theme{"data-toggle" => "modal", :href => "#form-modal"}
            GET HELP


      .col-lg-4
        %span.glyphicon.glyphicon-calendar
        %h3 Life
        %p= data.content.life
        %p
          .btn.btn-theme{"data-toggle" => "modal", :href => "#form-modal"}
            GET HELP



= partial 'signup_form'
